[submodule "fast-syntax-highlighting"]
	path = _oh-my-zsh/custom/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule "vimrc"]
	path = _vim_runtime
	url = https://github.com/cydonialis/vimrc
[submodule "tpm"]
	path = _tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "powerlevel10k"]
	path = _oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh-you-should-use"]
	path = _oh-my-zsh/custom/plugins/you-should-use
	url = https://github.com/MichaelAquilina/zsh-you-should-use.git
[submodule "wezterm-config"]
	path = _config/wezterm
	url = git@github.com:cydonialis/wezterm-config.git
